
/* 
orange color: #cf6d17 
*/


/* ---------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* optimizeLegibility
The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. */
html {
     background-color: #fff;
     color: #555;
     font-family: 'Lato', Arial, sans-serif;
     font-size: 20px;
     font-weight: 300;
     text-rendering: optimizeLegibility;
     overflow-x: hidden;
}
/* look up clearfix, something to do with clearing floats to adjust correct position of meals-showcase section/area */
.clearfix {zoom: 1}
.clearfix::after {
    content: '.';
    clear: both ;
    display:block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------------- */
/* REUSABLE COMPONENTS*/
/* ----------------------------------------------- */

/* margin short hand makes left and right auto automatically by defining only top and bottom */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ------HEADINGS------- */

/* font-size at a percentage of the global font-size so 40px cuz its 20px globally */
/* usually h1 has bold by default, so font-weight helps with that */
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    
    
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
/* have to specify content when using :after */
/* auto set it to center */
h2:after {
    display: block;
    height: 2px;
    background-color: #cf6d17;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------PARAGRAPHS------ */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* -------ICONS------- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
/* inline block allows you to set width for the icons */
.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /* ways to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* -----LINKS------ */
a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    /* making it trasparent when hovered makes it look like it disappears */
    border-bottom: 1px solid transparent;

}



/* -----BUTTONS------ */
/* display block forces line breaks */
/* inline-block lets you set padding and margin for an inline element */
/* 10px top and bottom and 30px left and right with this format */
/* transition is timed color change, does it gradually  */
.btn:link, 
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


/* applies styles to regular state and when clikced/visted already */
.btn-full:link, 
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active  {
    background-color: #cf6d17
}

.btn-full:hover, 
.btn-full:active {
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff
}


/* ---------------------------------------------- */
/* HEADER*/
/* ----------------------------------------------- */

/* cover to zoom out the image */
/* vh means 100% of the viewport */
/* linear gradient to make image have like a drak transparent color on top of it */
header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


/* look up translae transform */
.hero-text-box {
    position: absolute;
    width:1148px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* not visible in the normal nav state */
.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}
/* Main navi */

.main-nav {
    float: right;
    list-style:none;
    margin-top: 55px;
}
/* target the list items */
.main-nav li {
    display: inline-block;
    margin-left:40px;
}
/* targer the anchor tags */
/* the padding pushed the border bottom down */
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; 
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #cf6d17
}

/* if no href, you need to specify pointer */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* Sticky Navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo {display: none;}
.sticky .logo-black{display: block;}
/* ---------------------------------------------- */
/* FEATURES*/
/* ----------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}


/* ---------------------------------------------- */
/* MEALS*/
/* ----------------------------------------------- */

/* reduced spaces between images and mini paragraphs with logo */
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}
/* normalize gives it tiny margin, so we overide it with 0 */
/* overflow hidden will hide part of image that goes over border of browser */
.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
/* making img wide as container which is .meal-photo above */
/* transform scale will make the image bigger, will be at 115% */
/* transition give it an animation */
/* combining opacity and background-color black will give it dark look */
.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
/* 1.03 will avoid white space from showing between images when scaling back down */
.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ---------------------------------------------- */
/* HOW IT WORKS*/
/* ----------------------------------------------- */

.section-steps {
    background-color: #f4f4f4
}

/* text-align works for inline elements suchs as images not only just text */
/* this targets the img which is the first child of the steps-box */
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}
/* selects last div with class of work steps */
.works-step:last-of-type {
    margin-bottom: 80px;
}

/* padding move the number down to the center of circle as well as text-align center */
.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px
}


/* ---------------------------------------------- */
/* CITIES*/
/* ----------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/* ---------------------------------------------- */
/* TESTIMONIALS*/
/* ----------------------------------------------- */

.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    /* image stays in place in background even when scrolling */
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    /* allowed because italic style of font was put it header */
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin: 40px;
}

blockquote::before {
    /* puts text into the html, in this case quotation mark*/
    content: "\201C";
    font-size: 500%;
    /* to align words with quotation mark */
    display: block;
    /* have to make sure when using absolute that parent has relative position */
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    /* pushed picture and name down below sentences */
    display: block;
}



cite img {
    /* height changes the size of the image */
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    /* align the name with pic */
    vertical-align: middle;
}

/* ---------------------------------------------- */
/* SIGN UP*/
/* ----------------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    /* pertains to parent width */
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom:1px solid #e8e8e8;
}

.plan-box div:first-child {
    /* gives month think bg color */
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 
.plan-box div:last-child {
    /* for centering the sign up button */
    text-align: center;
    /* take grey border off at the bottom */
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom:10px;
    font-weight: 100;
    color: #e67e22
}
/* styles the .month and is based off the size of the plan-price */
.plan-price span {
    font-size: 30%;
    font-weight: 300;
}


.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

/* when padding is defined this way, it targets top and bottom and not left and right padding */
.plan ul li {
    padding: 5px 0;
}


/* ---------------------------------------------- */
/* FORM*/
/* ----------------------------------------------- */
.contact-form {
    /* brings it to the middle */
    width: 60%;
    margin: 0 auto;
}

/* affect all the types of the selected one  */
input [type=text],
input [type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}
/* makes the areas that recive text avoid being  highlighted when selected */
*:focus {outline:none}

/* ---------------------------------------------- */
/* FOOTER*/
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%
}

.footer-nav {
    list-style:none;
    float: left;
}

.social-links {
    list-style:none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    /* to remove space at the end of each */
    margin-right:0; 
}

.footer-nav li a:link, 
.footer-nav li a:visited, 
.social-links a:link, 
.social-links a:visited {
     text-decoration:none;
     border:0;
     color: #888;
}

.footer-nav li a:hover,
.footer-navli a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998
}
.ion-social-twitter:hover {
    color: #00aced
}
.ion-social-googleplus:hover {
    color: #dd4b39
}
.ion-social-instagram:hover {
    color: #517fa4
}

footer p {
    color: #888;
    text-align:center;
    margin-top: 20px;
}


/* ---------------------------------------------- */
/* Animations*/
/* ----------------------------------------------- */


.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
/* when the element has both classes */
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated  {
    opacity: 1;
}