
/* 
orange color: #cf6d17 
*/


/* ---------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* optimizeLegibility
The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. */
html {
     background-color: #fff;
     color: #555;
     font-family: 'Lato', sans-serif;
     font-size: 20px;
     font-weight: 300;
     text-rendering: optimizeLegibility;
}


/* ---------------------------------------------- */
/* REUSABLE COMPONENTS*/
/* ----------------------------------------------- */

/* margin short hand makes left and right auto automatically by defining only top and bottom */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------HEADINGS------- */

/* font-size at a percentage of the global font-size so 40px cuz its 20px globally */
/* usually h1 has bold by default, so font-weight helps with that */
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

/* -----BUTTONS------ */

/* inline-block lets you set padding and margin for an inline element */
/* 10px top and bottom and 30px left and right with this format */
/* transition is timed color change, does it gradually  */
.btn:link, 
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


/* applies styles to regular state and when clikced/visted already */
.btn-full:link, 
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17
}

.btn-full:hover, 
.btn-full:active {
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff
}


/* ---------------------------------------------- */
/* HEADER*/
/* ----------------------------------------------- */

/* cover to zoom out the image */
/* vh means 100% of the viewport */
/* linear gradient to make image have like a drak transparent color on top of it */
header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh
}


/* look up translae transform */
.hero-text-box {
    position: absolute;
    width:1148px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style:none;
    margin-top: 55px;
}
/* target the list items */
.main-nav li {
    display: inline-block;
    margin-left:40px;
}
/* targer the anchor tags */
/* the padding pushed the border bottom down */
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; 
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #cf6d17
}